* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: white;
    color: #333;
  }
  
  header {
    background: linear-gradient(to right, rgb(68, 158, 68),#7aca80);
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  
  .logo {
    width: 300px;
    height: 170px;
  }
  
  .texto {
    font-size: 20px;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font: size 10px;;
    text-align: left;
  }
  
  
  .menu-section {
    max-width: 1100px;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
  }
  
  .menu-section h2 { 
    font-size: 2rem;  
    margin-bottom: 0.5rem;
    
  }
  
  .subtitle {
    font-style: italic;
    color: #555;
    margin-bottom: 1.5rem;
  }
  
  .filters {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  
  .filters button {
    background: transparent;
    border: 2px solid #90EE90;
    color: #90EE90;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
  
  }
  
  
  .filters button:hover {
    background:#90EE90;
    color: white;
    
  }

  a{
  text-decoration: none;
  color:#90EE90;
}

  .menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    padding: 0 1rem;
  }
  
  .card {
    background: white;
    min-height: 360px;
    border-radius: 12px;
    overflow:hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card img {
    width: 100%;
    min-height: 80%;
    object-fit: cover;
  }
  
  .card-content {
    padding: 1rem;
    text-align: left;
  }
  
  .card h3 {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .price {
    color: #90EE90;
    font-weight: bold;
    font-size: 1rem;
  }
  
  footer {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #fff;
    font-size: 0.9rem;
    color: #aaa;
    margin-top: 3rem;
  }

  .botao-wpp{
    width: 70px;
    height: 70px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #90EE90;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  @media (max-width: 767px) {
    header {
      flex-direction: column;
      text-align: center;
      padding: 10px;
    }
  
    .logo {
      width: 150px;
      height: 100px;
    }
  
    .texto {
      font-size: 16px;
    }
  
    .info {
      font-size: 12px;
    }
  
    .filters {
      flex-direction: column;
      gap: 10px;
    }
  
    .botao-wpp {
      width: 55px;
      height: 55px;
      font-size: 35px;
    }
  }